<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Saxoo</title>
	{{#if showTests}}
	<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}

	<link rel="stylesheet" href="style/style1.css"/>
	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>

<body>
	<div id="container">
		<header>
			<!--<h1>Saxoo</h1>
			<h3>Looking for Some Awesome Applications?</h3>-->
			<img src="img/logo.png" id="headerimg" height="60">

		</header>
		<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">Machine Learning</a>
						<ul>
							<li><a href="/">Saxoo</a></li>
							<li><a href="/">Saxoo</a></li>
							<li><a href="/">Saxoo</a></li>
						</ul>
					</li>
					<li><a href="/application">Computer Vision</a>
						<ul>
							<li><a href="/">Saxoo</a></li>
							<li><a href="/">Saxoo</a></li>
							<li><a href="/">Saxoo</a></li>
						</ul>
					</li>
					<li><a href="/application">Fun Apps</a>
						<ul>
							<li><a href="/">Saxoo</a></li>
							<li><a href="/">Saxoo</a></li>
							<li><a href="/">Saxoo</a></li>
						</ul>
					</li>
					<li><a href="/contact">Board</a></li>

				</ul>
			</nav>
		<section id="main" role="main">
			<article>

				{{{body}}}
			</article>
		</section>
		<aside>

		</aside>
		<footer>
			<p id="about">I am always trying to build up something cool</p>

			<div id="footerlist">        
				<h3>Contact</h3>
				<ul>
					<li><a href="/email">Via Email</a></li>
					<li><a href="/contact_form">Web Form</a></li>
				</ul>
			</div>

			<p id="footercopy">All content Saxoo</p>

		</footer>
	</div>
	{{#if showTests}}
	<div id="mocha"></div>
	<script src="/vendor/mocha.js"></script>
	<script src="/vendor/chai.js"></script>
	<script>
	mocha.ui('tdd');
	var assert = chai.assert;
	</script>
	<script src="/qa/tests-global.js"></script>
	{{#if pageTestScript}}
	<script src="{{pageTestScript}}"></script>
	{{/if}}
	<script>mocha.run();</script>
	{{/if}}
</script>
</body>
</html>
