<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
 		<title>Saxoo</title>
 
 		<link rel="stylesheet" href="style/style1.css"/>
	</head>

	<body>
		<header>
		<h1>Saxoo</h1>
		<h3>Looking for Some Awesome Applications?</h3>
		<nav>
			<ul>
				<li><a href="/" id="logo">Home</a></li>
				<li><a href="/about">About Page</a></li>
				<li><a href="/application">Applications</a></li>
				<li><a href="/contact">Contact</a></li>

			</ul>
		</nav>
	</header>
	<article>
 		{{{body}}}
 	</article>
	</body>
</html>
