<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
 		<title>Saxoo</title>
 		{{#if showTests}}
 			<link rel="stylesheet" href="/vendor/mocha.css">
 		{{/if}}
 
 		<link rel="stylesheet" href="style/style1.css"/>
 		<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
	</head>

	<body>
		<header>
		<h1>Saxoo</h1>
		<h3>Looking for Some Awesome Applications?</h3>
		<nav>
			<ul>
				<li><a href="/" id="logo">Home</a></li>
				<li><a href="/about">About Page</a></li>
				<li><a href="/application">Applications</a></li>
				<li><a href="/contact">Contact</a></li>

			</ul>
		</nav>
	</header>
	<article>
 		{{{body}}}
 	</article>

 	{{#if showTests}}
 		<div id="mocha"></div>
 		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}
</script>
	</body>
</html>
