header {
  background-color:#ffffff;
  height:100px; /*+*/

}

header#headerimg{
  position:relative;
  left: 100px;
  bottom:10px;
}

header h1 {
  text-indent: 50px;
  font-family: "Times New Roman", Times, serif;
}

header h3 {
  text-indent: 50px;
}
div#container {
  width:1200px;
  padding:0;
  margin:auto;
  /*margin-top:20px;*/
  /*border-left:1px solid grey;
  border-right:1px solid grey; */
}

section#main {
  background-color:#ffffff;
  padding:0;
  width:1080px;
  height:600px;
  /*width:780px; /*+*/
  float:left;
  border-left: 1px solid #DCEBFF;
  border-right: 1px solid #DCEBFF;
}

aside {
  background-color:#AFDDFA;
  height:600px;
  width:118px; /*+*/
  float:right; 
}
 /* START NAV MENU */
nav {
  background-color:#3CB4FF;
  height:40px;
}
 
 
nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
 
}
 
nav li ul { 
  display: none; 

}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #3CB4FF;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
  width:150px;
  text-align:center;
  border-right: 1px solid;
 
}
 
nav ul li a:hover { 
  background: #A2E9FF; 
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
 
nav li:hover a { 
  background: #3A464F; 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #95A9B1; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
 
/* END NAV MENU */

footer {
  background-color:#ffffff;
  border-top: 3px solid #DCEBFF; 
  border-left: 1px solid #DCEBFF;
  border-right: 1px solid #DCEBFF;
  border-bottom: 1px solid #DCEBFF;
   height:120px;
  clear:both; /*+*/
}

/* BEGIN FOOTER STYLES */
 
footer p#about {
  width:300px;
  margin:20px 50px 0px 30px; /* Play with these to suit */
  float:left; /* Other elements in the footer will wrap to the right of this */
}
 
footer div#footerlist {
  float:right; /* Place this on the other side of the footer */
  padding-right:40px;
  margin-top:10px; /* Play with this */
}
 
footer div#footerlist ul  {
  padding-left:0px; /* Unindent the list so it lines up with the h3 above it. */
}
 
footer div#footerlist ul li {
  list-style-type:none; /* Remove default discs from list items. */
}
 
footer div#footerlist h3 {
  margin-top:0px;
}
 
footer p#footercopy {
  clear:both;
  text-align:center;
  font-size:0.9em; /* Slightly smaller text for copyright text. */
}
 
/* END FOOTER STYLES */